<%= render partial: 'layouts/header' %>
<div class = "a-container">
  <div class = "a-section ya-personalized">
    <div class="a-row a-spacing-base">
    <h1>
        アカウントサービス
    </h1>
    </div>
    <div class = "ya-card-row">
      <div class = "ya-card-cell">
        <a href = "/" class = "ya-card__whole-card-link">
          <div data-card-idetifier = "YouOrders" class = "a-box ya-card--rich">
            <div class = "a-box-inner">
              <div class = "a-row">
                <div class = "a-column a-span3">
                  <img alt = "注文履歴" src ="https://images-na.ssl-images-amazon.com/images/G/09/x-locale/cs/ya/images/Box._CB529917612_.png">
                </div>
                <div class="a-column a-span9 a-span-last">
                  <h3 class="a-spacing-none ya-card__heading--rich a-text-normal">
                    注文履歴
                  </h3>
                  <div>
                  <span class="a-color-secondary">配送状況の確認・返品手続き
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class = "ya-card-cell">
        <a href = "/users/<%= current_user.id %>/user_info" class = "ya-card__whole-card-link">
          <div data-card-identifier="SignInAndSecurity" class="a-box ya-card--rich">
            <div class="a-box-inner">
              <div class="a-row">
                <div class="a-column a-span3">
                  <img alt="サインインとセキュリティ" src="https://images-na.ssl-images-amazon.com/images/G/09/x-locale/cs/ya/images/sign-in-lock._CB529917612_.png">
                </div>
                <div class="a-column a-span9 a-span-last">
                  <h3 class="a-spacing-none ya-card__heading--rich a-text-normal">
                  サインインとセキュリティ
                  </h3>
                  <div>
                  <span class="a-color-secondary">
                    アカウント情報の変更
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="ya-card-cell">
        <a href="/" class="ya-card__whole-card-link">
          <div data-card-identifier="Prime" class="a-box ya-card--rich">
          <div class="a-box-inner">
            <div class="a-row">
              <div class="a-column a-span3">
                <img alt="プライム" src="https://images-na.ssl-images-amazon.com/images/G/09/x-locale/cs/ya/images/rc_prime._CB529917612_.png">
              </div>
              <div class="a-column a-span9 a-span-last">
                <h3 class="a-spacing-none ya-card__heading--rich a-text-normal">
                プライム
                </h3>
                <div>
                <span class="a-color-secondary">会員特典とお支払い方法の確認
                </span>
                </div>
              </div>
            </div>
          </div>
          </div>
        </a>
      </div>
    </div>
    <div class="ya-card-row">
      <div class="ya-card-cell">
          <a href="/users/<%= current_user.id %>/edit_address" class="ya-card__whole-card-link">
            <div data-card-identifier="AddressesAnd1Click" class="a-box ya-card--rich">
              <div class="a-box-inner">
                <div class="a-row">
                  <div class="a-column a-span3">
                    <img alt="アドレス帳" src="https://images-na.ssl-images-amazon.com/images/G/09/x-locale/cs/ya/images/address-map-pin._CB529299251_.png">
                  </div>
                  <div class="a-column a-span9 a-span-last">
                  <h3 class="a-spacing-none ya-card__heading--rich a-text-normal">
                    アドレス帳
                  </h3>
                  <div>
                    <span class="a-color-secondary">
                    登録住所の追加・変更
                    </span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
      </div>
      <div class="ya-card-cell">
        <a href="/" class="ya-card__whole-card-link">
          <div data-card-identifier="PaymentOptions" class="a-box ya-card--rich">
            <div class="a-box-inner">
              <div class="a-row">
                <div class="a-column a-span3">
                  <img alt="お支払い方法" src="https://images-na.ssl-images-amazon.com/images/G/09/x-locale/cs/ya/images/Payments._CB529917612_.png">
                </div>
                <div class="a-column a-span9 a-span-last">
                  <h3 class="a-spacing-none ya-card__heading--rich a-text-normal">
                    お支払い方法
                  </h3>
                  <div>
                  <span class="a-color-secondary">
                  お支払い方法の追加・変更
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="ya-card-cell">
        <a href="/" class="ya-card__whole-card-link">
          <div data-card-identifier="GiftCards" class="a-box ya-card--rich">
            <div class="a-box-inner">
              <div class="a-row">
                <div class="a-column a-span3">
                  <img alt="Amazonギフト券" src="https://images-na.ssl-images-amazon.com/images/G/09/x-locale/cs/ya/images/blackgc2._CB529917612_.png">
                </div>
                <div class="a-column a-span9 a-span-last">
                  <h3 class="a-spacing-none ya-card__heading--rich a-text-normal">
                    Amazonギフト券
                  </h3>
                  <div>
                  <span class="a-color-secondary">
                  残高の確認・ギフト券の登録
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="a-spacing-extra-large a-spacing-top-extra-large a-divider-normal">
    <div class="ya-card-row">
      <div class="ya-card-cell">
        <div data-card-identifier="DigitalContentAndDevices" class="a-box ya-card">
          <div class="a-box-inner">
            <h4 class="a-spacing-micro">
            デジタルコンテンツとデバイス
            </h4>
            <ul class="a-unordered-list a-nostyle a-vertical">
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazon Driveの管理
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">アプリライブラリと端末の管理
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                コンテンツと端末の管理
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                ゲーム&amp;PCソフトダウンロードライブラリ
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href=" /">
                Bamazon Musicの設定
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazonビデオの設定
                </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ya-card-cell">
        <div data-card-identifier="EmailAlertsMessagesAndAds" class="a-box ya-card">
          <div class="a-box-inner">
            <h4 class="a-spacing-micro">
            Eメールとメッセージ
            </h4>
            <ul class="a-unordered-list a-nostyle a-vertical">
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                広告表示の設定
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                情報配信サービスの設定
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                メッセージセンター
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazon.co.jp お知らせEメール
                </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ya-card-cell">
        <div data-card-identifier="MoreWaysToPay" class="a-box ya-card">
          <div class="a-box-inner">
            <h4 class="a-spacing-micro">
            その他の支払い方法
            </h4>
            <ul class="a-unordered-list a-nostyle a-vertical">
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                1-Click 設定
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                各種クレジットカードの紹介・入会情報
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazonコインの獲得・利用履歴の確認
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazon Payの購入履歴の確認
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                クーポン
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazonポイントの獲得・利用履歴の確認
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                パートナーポイントの管理
                </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ya-card-row">
      <div class="ya-card-cell">
        <div data-card-identifier="OrderingAndShoppingPreferences" class="a-box ya-card">
          <div class="a-box-inner">
            <h4 class="a-spacing-micro">
            お買い物設定
            </h4>
            <ul class="a-unordered-list a-nostyle a-vertical">
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                非表示にした注文の表示
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                言語設定の変更
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                マイリスト
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                プロフィール
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                ソーシャル設定
                </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ya-card-cell">
        <div data-card-identifier="OtherAccounts" class="a-box ya-card">
          <div class="a-box-inner">
            <h4 class="a-spacing-micro">
            その他のアカウント
            </h4>
            <ul class="a-unordered-list a-nostyle a-vertical">
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                出品用アカウント
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazon Webサービスアカウント
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Audibleアカウント
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazonログインの設定
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazon Business
                </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ya-card-cell">
        <div data-card-identifier="ShoppingProgramsAndRentals" class="a-box ya-card">
          <div class="a-box-inner">
            <h4 class="a-spacing-micro">
            お買い物プログラム
            </h4>
            <ul class="a-unordered-list a-nostyle a-vertical">
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                バーチャルダッシュ
                </a>
                </span>
              </li>
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                Bamazon定期おトク便情報の管理
                </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ya-card-row">
      <div class="ya-card-cell">
        <div data-card-identifier="Subscriptions" class="a-box ya-card">
          <div class="a-box-inner">
            <h4 class="a-spacing-micro">
            メールマガジン
            </h4>
            <ul class="a-unordered-list a-nostyle a-vertical">
              <li class="a-spacing-micro">
                <span class="a-list-item">
                <a href="/">
                デリバーズ（購読Eメール）の設定
                </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <div class="ya-card-cell">
          <div></div>
        </div>
        <div class="ya-card-cell">
          <div></div>
        </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
