<%= render partial: 'layouts/header' %>
  <div class="a-container">
    <div class="a-section auth-pagelet-desktop-wide-container">
      <ol id="breadcrumb_CNEP" class="a-ordered-list a-horizontal">
        <li>
          <span class="a-list-item">
            <a class="a-link-normal" href="/users">アカウントサービス</a>
          </span>
        </li>
        <li>
          <span class="a-list-item"> > </span>
        </li>
        <li>
          <span class="a-list-item a-color-state">
            <a class="a-link-normal" href="/users/1/user_info">サインインとセキュリティ</a>
          </span>
        </li>
        <li>
          <span class="a-list-item"> > </span>
        </li>
        <li>
          <span class="a-list-item a-color-state">携帯電話番号の追加</span>
        </li>
      </ol>
      <h1>携帯電話番号の追加</h1>
      <div class="a-box">
        <div class="a-box-inner">
          <div class="a-fixed-right-grid">
            <div class="a-fixed-right-grid-inner" style="padding-right:0px">
              <div class="a-fixed-right-grid-col" style="float:left;">
                <span class="a-declarative" data-action="a-modal" data-a-modal="{&quot;max-width&quot;:&quot;95%&quot;,&quot;width&quot;:&quot;300px&quot;,&quot;name&quot;:&quot;verifyContinueModal&quot;,&quot;header&quot;:&quot;番号の確認が必要です&quot;,&quot;height&quot;:&quot;240px&quot;}" id="auth-verify-modal-action" style=""></span>
                <form id="auth-change-phone" method="post" novalidate action="https://www.amazon.co.jp/ap/profile/mobilephone">
                  <div class="a-row">
                    <label for="ap_phone_number" class="a-form-label auth-mobile-label">携帯番号</label>
                  </div>
                  <div class="a-row">
                    <div class="a-column a-span5">
                      <span class="a-dropdown-container">
                        <select name="countryCode" autocomplete="off" data-a-touch-header="国コード" id="auth-country-picker" class="a-native-dropdown">
                          <option data-calling-code="594" data-country-code="GF" value="GF" data-a-html-content="フランス領ギアナ +594">GF +594</option>
                          <option data-calling-code="1" data-country-code="US" value="US" data-a-html-content="アメリカ合衆国 +1">US +1</option>
                          <option data-calling-code="81" data-country-code="JP" value="JP" data-a-html-content="日本 +81">JP +1</option>
                        </select>
                        <!-- <span tabindex="-1" class="a-button a-button-dropdown" id="a-autoid-0" style="min-width: 0.977578%;">
                          <span class="a-button-inner">
                            <span class="a-button-text a-declarative" data-action="a-dropdown-button" role="button" id="a-autoid-0-announce" >
                              <span class="a-dropdown-prompt">JP +81</span>
                            </span>
                          </span>
                        </span> -->
                      </span>
                    </div>
                    <div class="a-column a-span7 a-span-last">
                      <input type="tel" maxlength="50" id="ap_phone_number" name="newMobilePhoneNumber" tabindex="1" class="a-input-text a-span12 a-spacing-base auth-required-field auth-require-phone-validation" data-validation-id="phoneNumber">
                    </div>
                  </div>
                  <div class="a-row a-spacing-top-small">
                    <span class="a-button a-button-span12 a-button-primary auth-requires-verify-modal" id="a-autoid-1">
                      <span class="a-button-inner">
                        <input id="auth-continue" tabindex="2" name="addMobilePhone" class="a-button-input" type="submit" aria-labelledby="a-autoid-1-announce">
                        <span class="a-button-text" aria-hidden="true" id="a-autoid-1-announce">携帯番号を追加する</span>
                      </span>
                    </span>
                  </div>
                </form>
                <div class="a-row a-spacing-top-small">
                  <span class="a-button a-button-group-first a-button-span12" id="a-autoid-2">
                    <span class="a-button-inner">
                      <a id="auth-change-phone-cancel" tabindex="4" href="/users">キャンセル</a>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: 'layouts/footer' %>
