<%= render partial: 'layouts/header' %>
<div class="a-container">
  <div class="a-section auth-pagelet-desktop-wide-container">
    <div class="a-section auth-pagelet-desktop-wide-container">
      <ol id="breadcrumb_CNEP" class="a-ordered-list a-horizontal">
        <li>
          <span class="a-list-item">
            <a class="a-link-normal" href="/gp/css/homepage.html">アカウントサービス</a>
          </span>
        </li>
        <li>
          <span class="a-list-item"> > </span>
        </li>
        <li>
          <span class="a-list-item a-color-state">サインインとセキュリティ</span>
        </li>
      </ol>
      <h1 id="ap_cnep_header" class="a-spacing-small">サインインとセキュリティ</h1>
      <div class="a-row">
      </div>
      <div class="a-section">
        <div class="a-box a-vertical">
          <div class="a-box-inner a-padding-none">
            <ul class="a-unordered-list a-nostyle a-box-list">
              <li>
                <span class="a-list-item">
                  <div class="a-section a-padding-medium">
                  </div>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
