<%= render partial: 'layouts/header' %>
<div id="siteDirectory">
  <table id="shopAllLinks">
    <tbody>
      <tr>
        <td style="width: 25%">
          <div class="popover-grouping">
            <h2 class="popover-category-name">Amazon ビデオ</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">Amazonビデオ</a>
              </li>
              <li>
                <a class="nav_a">プライム・ビデオ</a>
              </li>
              <li>
                <a class="nav_a">レンタル・購入</a>
              </li>
              <li>
                <a class="nav_a">ウォッチリスト</a>
              </li>
              <li>
                <a class="nav_a">ビデオライブラリ</a>
              </li>
              <li>
                <a class="nav_a">どこでも視聴</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">Amazon Music</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">Amazon Music Unlimited</a>
              </li>
              <li>
                <a class="nav_a">Prime Music</a>
              </li>
              <li>
                <a class="nav_a" target="_blank">ミュージックライブラリ</a>
              </li>
              <li>
                <a class="nav_a">デジタルミュージック</a>
              </li>
              <li>
                <a class="nav_a">CD・レコード</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">Android アプリストア</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">アプリ</a>
              </li>
              <li>
                <a class="nav_a">ゲーム</a>
              </li>
              <li>
                <a class="nav_a">Fire対応アプリ</a>
              </li>
              <li>
                <a class="nav_a">Amazonコイン</a>
              </li>
              <li>
                <a class="nav_a">Amazonアプリ</a>
              </li>
              <li>
                <a class="nav_a">アプリライブラリと端末の管理</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">Echo &amp; Alexa</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">Echo Dot</a>
              </li>
              <li>
                <a class="nav_a">Echo</a>
              </li>
              <li>
                <a class="nav_a">Echo Plus</a>
              </li>
              <li>
                <a class="nav_a">Alexaスキルガイド</a>
              </li>
              <li>
                <a class="nav_a">Alexaスマートホーム</a>
              </li>
              <li>
                <a class="nav_a">Amazon Music Unlimited</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">Fireタブレット</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">Fire 7</a>
              </li>
              <li>
                <a class="nav_a">Fire HD 8</a>
              </li>
              <li>
                <a class="nav_a">Fire HD 10</a>
              </li>
              <li>
                <a class="nav_a">Fire タブレットアクセサリ</a>
              </li>
              <li>
                <a class="nav_a">プライムフォト</a>
              </li>
              <li>
                <a class="nav_a">Amazon Drive</a>
              </li>
              <li>
                <a class="nav_a">Kindle本</a>
              </li>
              <li>
                <a class="nav_a">Amazonビデオ</a>
              </li>
              <li>
                <a class="nav_a">デジタルミュージック</a>
              </li>
              <li>
                <a class="nav_a">アプリ・ゲーム</a>
              </li>
              <li>
                <a class="nav_a">端末とコンテンツの管理</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">Fire TV</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">Fire TV Stick</a>
              </li>
              <li>
                <a class="nav_a">Fire TV 4K対応</a>
              </li>
              <li>
                <a class="nav_a">Amazon Fire TV</a>
              </li>
              <li>
                <a class="nav_a">Amazon Fire TVゲームコントローラー</a>
              </li>
              <li>
                <a class="nav_a">Primeビデオ</a>
              </li>
              <li>
                <a class="nav_a">Amazonビデオ</a>
              </li>
              <li>
                <a class="nav_a">Fire TV用アプリ</a>
              </li>
              <li>
                <a class="nav_a">プライムフォト</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">Kindle 本＆電子書籍リーダー</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">Kindle</a>
              </li>
              <li>
                <a class="nav_a">Kindle Paperwhite</a>
              </li>
              <li>
                <a class="nav_a">Kindle Paperwhite マンガモデル</a>
              </li>
              <li>
                <a class="nav_a">Kindle Voyage</a>
              </li>
              <li>
                <a class="nav_a">Kindle Oasis</a>
              </li>
              <li>
                <a class="nav_a">Kindle アクセサリ</a>
              </li>
              <li>
                <a class="nav_a">Kindle本</a>
              </li>
              <li>
                <a class="nav_a">Kindleコミック</a>
              </li>
              <li>
                <a class="nav_a">Kindle洋書</a>
              </li>
              <li>
                <a class="nav_a">Kindle Unlimited</a>
              </li>
              <li>
                <a class="nav_a">Prime Reading</a>
              </li>
              <li>
                <a class="nav_a">Kindleオーナー ライブラリー</a>
              </li>
              <li>
                <a class="nav_a">Kindle無料アプリ</a>
              </li>
              <li>
                <a class="nav_a">Kindle Cloud Reader</a>
              </li>
              <li>
                <a class="nav_a">コンテンツと端末の管理</a>
              </li>
            </ul>
          </div>
        </td>
        <td style="width: 25%">
          <div class="popover-grouping">
            <h2 class="popover-category-name">本・コミック・雑誌 &amp; Audible</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">本</a>
              </li>
              <li>
                <a class="nav_a">洋書</a>
              </li>
              <li>
                <a class="nav_a">コミック</a>
              </li>
              <li>
                <a class="nav_a">雑誌</a>
              </li>
              <li>
                <a href="/products/search" class="nav_a">単行本</a>
              </li>
              <li>
                <a class="nav_a">文庫</a>
              </li>
              <li>
                <a class="nav_a">新書</a>
              </li>
              <li>
                <a class="nav_a">絵本・児童書</a>
              </li>
              <li>
                <a class="nav_a">新刊・予約</a>
              </li>
              <li>
                <a class="nav_a">まとめ買い・セット本</a>
              </li>
              <li>
                <a class="nav_a">アウトレット本</a>
              </li>
              <li>
                <a class="nav_a">中古本（古本・古書）</a>
              </li>
              <li>
                <a class="nav_a">買取サービス</a>
              </li>
              <li>
                <a class="nav_a">Kindle本</a>
              </li>
              <li>
                <a class="nav_a">Kindleコミック</a>
              </li>
              <li>
                <a class="nav_a">Kindle洋書</a>
              </li>
              <li>
                <a class="nav_a">Kindle Unlimited</a>
              </li>
              <li>
                <a class="nav_a">Prime Reading</a>
              </li>
              <li>
                <a class="nav_a">Audible オーディオブック</a>
              </li>
              <li>
                <a class="nav_a">1か月間 無料体験</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">DVD・ミュージック・ゲーム</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">DVD</a>
              </li>
              <li>
                <a class="nav_a">ブルーレイ</a>
              </li>
              <li>
                <a class="nav_a">Amazonビデオ</a>
              </li>
              <li>
                <a class="nav_a">ミュージック</a>
              </li>
              <li>
                <a class="nav_a">デジタルミュージック</a>
              </li>
              <li>
                <a class="nav_a">楽器</a>
              </li>
              <li>
                <a class="nav_a">テレビゲーム</a>
              </li>
              <li>
                <a class="nav_a">PCゲーム</a>
              </li>
              <li>
                <a class="nav_a">ゲームダウンロード</a>
              </li>
              <li>
                <a class="nav_a">買取サービス</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">家電・カメラ・AV機器</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">キッチン家電</a>
              </li>
              <li>
                <a class="nav_a">生活家電</a>
              </li>
              <li>
                <a class="nav_a">理美容家電</a>
              </li>
              <li>
                <a class="nav_a">空調・季節家電</a>
              </li>
              <li>
                <a class="nav_a">照明</a>
              </li>
              <li>
                <a class="nav_a">大型家電</a>
              </li>
              <li>
                <a class="nav_a">すべての家電</a>
              </li>
              <li>
                <a class="nav_a">カメラ・ビデオカメラ</a>
              </li>
              <li>
                <a class="nav_a">アクションカメラ</a>
              </li>
              <li>
                <a class="nav_a">双眼鏡・望遠鏡・光学機器</a>
              </li>
              <li>
                <a class="nav_a">携帯電話・スマートフォン</a>
              </li>
              <li>
                <a class="nav_a">テレビ・レコーダー</a>
              </li>
              <li>
                <a class="nav_a">オーディオ</a>
              </li>
              <li>
                <a class="nav_a">イヤホン・ヘッドホン</a>
              </li>
              <li>
                <a class="nav_a">ウェアラブルデバイス</a>
              </li>
              <li>
                <a class="nav_a">アクセサリ</a>
              </li>
              <li>
                <a class="nav_a">すべてのカメラ・AV機器</a>
              </li>
              <li>
                <a class="nav_a">中古カメラ・ビデオカメラ</a>
              </li>
              <li>
                <a class="nav_a">中古AV機器・携帯電話</a>
              </li>
              <li>
                <a class="nav_a">すべての中古</a>
              </li>
              <li>
                <a class="nav_a">Amazon Launchpad</a>
              </li>
              <li>
                <a class="nav_a">買取サービス</a>
              </li>
              <li>
                <a class="nav_a">Alexaスマートホーム</a>
              </li>
            </ul>
          </div>
        </td>
        <td style="width: 25%">
          <div class="popover-grouping">
            <h2 class="popover-category-name">パソコン・オフィス用品</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">パソコン・タブレット</a>
              </li>
              <li>
                <a class="nav_a">ディスプレイ・モニター</a>
              </li>
              <li>
                <a class="nav_a">プリンター・インク</a>
              </li>
              <li>
                <a class="nav_a">キーボード・マウス・入力機器</a>
              </li>
              <li>
                <a class="nav_a">無線LAN・ネットワーク機器</a>
              </li>
              <li>
                <a class="nav_a">PCパーツ・CPU・内蔵HDD</a>
              </li>
              <li>
                <a class="nav_a">外付けドライブ・ストレージ</a>
              </li>
              <li>
                <a class="nav_a">SD・microSDカード・USBメモリ</a>
              </li>
              <li>
                <a class="nav_a">PCアクセサリ・記録メディア</a>
              </li>
              <li>
                <a class="nav_a">ゲーミングPC・関連アクセサリ</a>
              </li>
              <li>
                <a class="nav_a">すべてのパソコン・周辺機器</a>
              </li>
              <li>
                <a class="nav_a">ビジネス・オフィス</a>
              </li>
              <li>
                <a class="nav_a">セキュリティ</a>
              </li>
              <li>
                <a class="nav_a">画像・映像制作</a>
              </li>
              <li>
                <a class="nav_a">PCゲーム</a>
              </li>
              <li>
                <a class="nav_a">ダウンロード版</a>
              </li>
              <li>
                <a class="nav_a">PCソフト定期購入</a>
              </li>
              <li>
                <a class="nav_a">すべてのPCソフト</a>
              </li>
              <li>
                <a class="nav_a">文具・学用品</a>
              </li>
              <li>
                <a class="nav_a">事務用品</a>
              </li>
              <li>
                <a class="nav_a">筆記具</a>
              </li>
              <li>
                <a class="nav_a">ノート・メモ帳</a>
              </li>
              <li>
                <a class="nav_a">手帳・カレンダー</a>
              </li>
              <li>
                <a class="nav_a">オフィス家具</a>
              </li>
              <li>
                <a class="nav_a">オフィス機器</a>
              </li>
              <li>
                <a class="nav_a">すべての文房具・オフィス用品</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">ホーム＆キッチン・ペット・DIY</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">キッチン用品・食器</a>
              </li>
              <li>
                <a class="nav_a">インテリア・雑貨</a>
              </li>
              <li>
                <a class="nav_a">カーペット・カーテン・クッション</a>
              </li>
              <li>
                <a class="nav_a">家具</a>
              </li>
              <li>
                <a class="nav_a">収納用品・収納家具</a>
              </li>
              <li>
                <a class="nav_a">布団・枕・シーツ</a>
              </li>
              <li>
                <a class="nav_a">掃除・洗濯・バス・トイレ</a>
              </li>
              <li>
                <a class="nav_a">防犯・防災</a>
              </li>
              <li>
                <a class="nav_a">家電</a>
              </li>
              <li>
                <a class="nav_a">手芸・画材</a>
              </li>
              <li>
                <a class="nav_a">すべてのホーム＆キッチン</a>
              </li>
              <li>
                <a class="nav_a">電動工具</a>
              </li>
              <li>
                <a class="nav_a">作業工具</a>
              </li>
              <li>
                <a class="nav_a">リフォーム</a>
              </li>
              <li>
                <a class="nav_a">ガーデニング</a>
              </li>
              <li>
                <a class="nav_a">エクステリア</a>
              </li>
              <li>
                <a class="nav_a">すべてのDIY・工具</a>
              </li>
              <li>
                <a class="nav_a">ペット用品・ペットフード</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">食品・飲料・お酒</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">食品・グルメ</a>
              </li>
              <li>
                <a class="nav_a">お米・麺・パン・シリアル</a>
              </li>
              <li>
                <a class="nav_a">調味料・スパイス</a>
              </li>
              <li>
                <a class="nav_a">スイーツ・お菓子</a>
              </li>
              <li>
                <a class="nav_a">水・ソフトドリンク</a>
              </li>
              <li>
                <a class="nav_a">コーヒー・お茶</a>
              </li>
              <li>
                <a class="nav_a">おとなセレクト</a>
              </li>
              <li>
                <a class="nav_a">Nipponストア(ご当地グルメ・特産品)</a>
              </li>
              <li>
                <a class="nav_a">ヤスイイね・お買い得情報</a>
              </li>
              <li>
                <a class="nav_a">Dash Button (ダッシュボタン)</a>
              </li>
              <li>
                <a class="nav_a">Amazonフレッシュ</a>
              </li>
              <li>
                <a class="nav_a">Amazonパントリー</a>
              </li>
              <li>
                <a class="nav_a">Amazon定期おトク便</a>
              </li>
              <li>
                <a class="nav_a">出前特集</a>
              </li>
              <li>
                <a class="nav_a">ビール・発泡酒</a>
              </li>
              <li>
                <a class="nav_a">ワイン</a>
              </li>
              <li>
                <a class="nav_a">日本酒</a>
              </li>
              <li>
                <a class="nav_a">焼酎</a>
              </li>
              <li>
                <a class="nav_a">梅酒</a>
              </li>
              <li>
                <a class="nav_a">洋酒・リキュール</a>
              </li>
              <li>
                <a class="nav_a">チューハイ・カクテル</a>
              </li>
              <li>
                <a class="nav_a">ノンアルコール飲料</a>
              </li>
              <li>
                <a class="nav_a">すべてのお酒</a>
              </li>
              <li>
                <a class="nav_a">Amazonソムリエ</a>
              </li>
            </ul>
          </div>
        </td>
        <td style="width: 25%">
          <div class="popover-grouping">
            <h2 class="popover-category-name">ドラッグストア・ビューティー</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">医薬品</a>
              </li>
              <li>
                <a class="nav_a">ヘルスケア・衛生用品</a>
              </li>
              <li>
                <a class="nav_a">コンタクトレンズ</a>
              </li>
              <li>
                <a class="nav_a">サプリメント</a>
              </li>
              <li>
                <a class="nav_a">ダイエット</a>
              </li>
              <li>
                <a class="nav_a">シニアサポート・介護</a>
              </li>
              <li>
                <a class="nav_a">おむつ・おしりふき</a>
              </li>
              <li>
                <a class="nav_a">日用品 (掃除・洗濯・キッチン)</a>
              </li>
              <li>
                <a class="nav_a">ドラッグストアへ</a>
              </li>
              <li>
                <a class="nav_a">Dash Button (ダッシュボタン)</a>
              </li>
              <li>
                <a class="nav_a">Amazonパントリー</a>
              </li>
              <li>
                <a class="nav_a">Amazon定期おトク便</a>
              </li>
              <li>
                <a class="nav_a">ヘアケア・スタイリング</a>
              </li>
              <li>
                <a class="nav_a">スキンケア</a>
              </li>
              <li>
                <a class="nav_a">メイクアップ・ネイル</a>
              </li>
              <li>
                <a class="nav_a">バス・ボディケア</a>
              </li>
              <li>
                <a class="nav_a">オーラルケア</a>
              </li>
              <li>
                <a class="nav_a">男性化粧品・シェービング</a>
              </li>
              <li>
                <a class="nav_a">ラグジュアリービューティー</a>
              </li>
              <li>
                <a class="nav_a">ナチュラル・オーガニック</a>
              </li>
              <li>
                <a class="nav_a">ドクターズコスメ</a>
              </li>
              <li>
                <a class="nav_a">トライアルキット</a>
              </li>
              <li>
                <a class="nav_a">ブランド一覧</a>
              </li>
              <li>
                <a class="nav_a">ビューティーストアへ</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">ベビー・おもちゃ・ホビー</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">ベビー＆マタニティ</a>
              </li>
              <li>
                <a class="nav_a">おもちゃ</a>
              </li>
              <li>
                <a class="nav_a">絵本・児童書</a>
              </li>
              <li>
                <a class="nav_a">Amazonファミリー</a>
              </li>
              <li>
                <a class="nav_a">ホビー</a>
              </li>
              <li>
                <a class="nav_a">楽器</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">服・シューズ・バッグ ・腕時計</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">レディース</a>
              </li>
              <li>
                <a class="nav_a">メンズ</a>
              </li>
              <li>
                <a class="nav_a">キッズ＆ベビー</a>
              </li>
              <li>
                <a class="nav_a">バッグ・スーツケース</a>
              </li>
              <li>
                <a class="nav_a">スポーツウェア＆シューズ</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">スポーツ＆アウトドア</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">自転車</a>
              </li>
              <li>
                <a class="nav_a">アウトドア</a>
              </li>
              <li>
                <a class="nav_a">釣り</a>
              </li>
              <li>
                <a class="nav_a">フィットネス・トレーニング</a>
              </li>
              <li>
                <a class="nav_a">ゴルフ</a>
              </li>
              <li>
                <a class="nav_a">スポーツウェア＆シューズ</a>
              </li>
              <li>
                <a class="nav_a">すべてのスポーツ＆アウトドア</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">車＆バイク・産業・研究開発</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">カー用品</a>
              </li>
              <li>
                <a class="nav_a">バイク用品</a>
              </li>
              <li>
                <a class="nav_a">自動車&amp;バイク車体</a>
              </li>
              <li>
                <a class="nav_a">DIY・工具</a>
              </li>
              <li>
                <a class="nav_a">安全・保護用品</a>
              </li>
              <li>
                <a class="nav_a">工業機器</a>
              </li>
              <li>
                <a class="nav_a">研究開発用品</a>
              </li>
              <li>
                <a class="nav_a">衛生・清掃用品</a>
              </li>
              <li>
                <a class="nav_a">すべての産業・研究開発用品</a>
              </li>
            </ul>
          </div>
          <div class="popover-grouping">
            <h2 class="popover-category-name">クレジットカード＆Amazonポイント</h2>
            <ul class="nav_cat_links">
              <li class="nav_first">
                <a class="nav_a">Amazon Mastercard</a>
              </li>
              <li>
                <a class="nav_a">クレジットカード＆保険ストア</a>
              </li>
              <li>
                <a class="nav_a">パートナーポイントプログラム</a>
              </li>
              <li>
                <a class="nav_a">Amazonポイント</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= render partial: 'layouts/footer' %>
