* {
    max-height: 999999px;
}

.a-fixed-left-grid .a-col-right {
    width: 100%;
    padding-left: 3.5%;
}

.sc-list .sc-list-head {
    border-bottom: 1px solid #DDD;
}

.sc-list .sc-list-item-border {
    border-bottom: 1px solid #DDD;
}

.a-row .a-span8, .a-ws .a-row .a-ws-span8 {
    width: 65.948%;
}

.a-ws div.a-column, div.a-column {
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}

.a-fixed-left-grid {
    position: relative;
}

.a-fixed-left-grid .a-fixed-left-grid-inner {
    position: relative;
    padding: 0;
}

.a-icon-text-separator, .a-text-separator {
    display: inline-block;
    margin: -2px .67375em 0;
    width: 1px;
    background-color: #ddd;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
}

.a-float-left, .aok-float-left {
    float: left!important;
}

.a-icon, .a-link-emphasis:after {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/team-b-amazon/team-bamzon-images/BmazonUIBaseCSS-sprite.png);
    -webkit-background-size: 400px 750px;
    background-size: 400px 750px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.a-row .a-span2, .a-ws .a-row .a-ws-span2 {
    width: 14.948%;
}

.sc-white-space-nowrap {
    white-space: nowrap;
}

.space_bottom {
    margin-bottom: 14px;
}
