html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  display: block;
  body {
    min-height: 100%;
  }
  body {
    padding: 0;
    margin: 0;
    background: #fff;
    label {
      cursor: default;
    }
  }
  body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  }
  body {
    display: block;
    margin: 8px;
    div {
      display: block;
      i, cite, em, var, address, dfn {
        font-style: italic;
      }
    }
    .a-text-center {
      text-align: center!important;
    }
    h4 {
      display: block;
      -webkit-margin-before: 1.33em;
      -webkit-margin-after: 1.33em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }
    .a-alert-inline-error .a-alert-container {
      padding-left: 16px;
      color: #c40000;
    }
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.a-section {
  margin-bottom: 22px;
}

.a-padding-medium {
  padding: 14px 18px!important;
}

.a-spacing-none, .a-ws .a-ws-spacing-none {
  margin-bottom: 0!important;
}

.a-text-center {
  text-align: center!important;
}

.a-spacing-medium, .a-ws .a-ws-spacing-medium {
  margin-bottom: 18px!important;
}

.a-icon, .a-link-emphasis:after {
  background-image: url('bamazon_layer.png');
  -webkit-background-size: 400px 670px;
  background-size: 400px 540px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

.a-icon-logo, .a-logo {
  background-position: -5px -130px;
  height: 31px;
  width: 103px;
}

.a-hires .a-icon, .a-hires .a-link-emphasis:after {
  background-image: url('bamazon_layer.png');
}

em, i {
  font-style: italic;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  color: #0066c0;
}

.a-icon-alt {
  position: absolute;
  left: -9999px;
  top: auto;
  display: block;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  overflow: hidden;
}

.a-hires .a-domain-jp, .a-hires .a-icon-domain-jp, .a-hires .a-icon-jp, .a-hires .a-icon-prime-jp, .a-hires .a-icon-prime-jp-nav, .a-hires .a-prime-jp-logo, .a-hires .a-prime-jp-nav-logo {
  background-image: url('bamazon_layer.png');
}

.a-domain-jp, .a-icon-domain-jp {
  width: 28px;
  background-position: -145px -200px;
}

.a-domain, .a-icon-domain {
  height: 28px;
}

.a-domain-jp, .a-icon-domain-jp, .a-icon-jp, .a-icon-prime-jp, .a-icon-prime-jp-nav, .a-prime-jp-logo, .a-prime-jp-nav-logo {
  background-image: url('bamazon_layer.png');
  -webkit-background-size: 350px 350px;
  background-size: 350px 350px;
}

.auth-workflow .auth-pagelet-container {
  width: 350px;
  margin: 0 auto;
}

#auth-cookie-warning-message {
  display: none;
}

.a-alert-warning {
  border-color: #8b6e00;
}

.a-box {
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
}

.a-alert-warning .a-alert-container {
  background-color: #fff;
  box-shadow: 0 0 0 4px #fffae7 inset;
  padding-left: 63px;
}

.a-box .a-box-inner {
  border-radius: 4px;
  position: relative;
  padding: 14px 18px;
}

.a-alert-warning .a-alert-container .a-alert-heading {
  color: #7c6200;
}

h4 {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.255;
}

h1, h2, h3, h4 {
  font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  padding-bottom: 4px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.a-alert .a-icon-alert {
  height: 27px;
  width: 30px;
  position: absolute;
  left: 18px;
  top: 11px;
}

.a-alert-warning .a-icon-alert, .a-icon-warning {
  background-position: -283px -35px;
}

.a-hires .a-icon, .a-hires .a-link-emphasis:after {
    background-image: url('bamazon_layer.png');
}

p:last-child {
  margin-bottom: 0;
}

p {
  padding: 0;
  margin: 0 0 14px 0;
}

p a, p a:active, p a:link, p a:visited {
  text-decoration: underline;
}

.a-section:last-child {
  margin-bottom: 0;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

input, select, textarea {
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  line-height: 19px;
  color: #111;
}

.a-spacing-small, .a-ws .a-ws-spacing-small {
  margin-bottom: 10px!important;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  padding-bottom: 4px;
}

.a-row {
  width: 100%;
}

.a-row:after, .a-row:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}

.a-row:after {
  clear: both;
}

.a-row .a-span12, .a-ws .a-row .a-ws-span12 {
  width: 99.948%;
}

.a-row .a-span12, .a-span12, .a-ws .a-row .a-ws-span12, .a-ws .a-ws-span12 {
  width: 100%;
  margin-right: 0;
}

.a-input-text, input[type=text], input[type=number], input[type=tel], input[type=password], input[type=date], input[type=email], input[type=search] {
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
}

.a-input-text, input[type=text], input[type=number], input[type=tel], input[type=password], input[type=search], select.a-select-multiple, textarea {
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
  outline: 0;
}

.a-alert-inline {
  display: inline-block;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}

.auth-inlined-error-message {
  display: none;
}

.a-spacing-top-mini {
  margin-top: 6px!important;
}

.a-alert-inline-error .a-alert-container {
  padding-left: 16px;
  color: #c40000;
}

.a-alert-inline .a-alert-container .a-alert-content {
  margin-bottom: 0;
  text-align: left;
  font-size: 12px;
  line-height: 15px;
}

.a-box .a-box-inner {
  border-radius: 4px;
  position: relative;
  padding: 14px 18px;
}

.a-alert-inline .a-alert-container {
  padding: 0;
}

.a-alert-inline-error .a-icon-alert, .a-icon-error.a-icon-small {
  width: 5px;
  background-position: -141px -130px;
}

.a-alert-inline .a-icon-alert {
  height: 13px;
  width: 14px;
  position: absolute;
  left: 2px;
  top: 2px;
}

.a-button {
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none!important;
  vertical-align: middle;
}

.a-button-primary {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.a-button-span12 {
  width: 100%!important;
}

.a-button-inner {
  display: block;
  position: relative;
  overflow: hidden;
  height: 29px;
  box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
  border-radius: 2px;
}

.a-button .a-button-inner {
  background: #eff0f3;
  background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
}

.a-button-primary .a-button-inner {
  background: #f3d078;
  background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.a-button-primary .a-button-inner {
  box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}

.a-button-input {
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: .01;
  outline: 0;
  overflow: visible;
  z-index: 20;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

.a-button-primary .a-button-text {
  color: #111;
}

.a-spacing-top-medium {
  margin-top: 18px!important;
}

.a-size-small {
  font-size: 12px!important;
  line-height: 1.5!important;
}

.a-box .a-divider.a-divider-section .a-divider-inner:after, .a-color-base-background .a-divider.a-divider-section .a-divider-inner:after, .a-divider.a-divider-section .a-divider-inner:after {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
  background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
  z-index: 1;
  content: "";
}

.a-box .a-divider.a-divider-section .a-divider-inner, .a-color-base-background .a-divider.a-divider-section .a-divider-inner, .a-divider.a-divider-section .a-divider-inner {
  height: 44px;
  margin-bottom: -18px;
  background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
  background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
  z-index: 0;
  zoom: 1;
}

.a-icon, .a-link-emphasis:after {
  background-image: url('bamazon_layer.png');
  -webkit-background-size: 400px 670px;
  background-size: 400px 540px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

a.a-icon-link-emphasis:after, a.a-link-emphasis:after {
  background-image: url('bamazon_layer.png');
  -webkit-background-size: 400px 670px;
  background-size: 400px 670px;
  background-repeat: no-repeat;
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  right: 1px;
  top: 50%;
  height: 6px;
  margin-top: -3px;
  background-position: -346px -86px;
  vertical-align: top;
}

.a-hires .a-icon, .a-hires .a-link-emphasis:after {
  background-image: url('bamazon_layer.png');
}

.a-hires a.a-icon-link-emphasis:after, .a-hires a.a-link-emphasis:after {
  background-image: url('bamazon_layer.png');
}

a.a-link-emphasis {
  position: relative;
  padding-right: 9px;
}

.a-spacing-top-extra-large {
  margin-top: 26px!important;
}

.a-section:last-child {
  margin-bottom: 0;
}

.a-spacing-extra-large, .a-ws .a-ws-spacing-extra-large {
  margin-bottom: 26px!important;
}

.a-size-mini {
  font-size: 11px!important;
  line-height: 1.465!important;
}

.auth-footer-seperator {
  display: inline-block;
  width: 20px;
}

.a-color-secondary {
  color: #555!important;
}

.a-spacing-base, .a-ws .a-ws-spacing-base {
  margin-bottom: 14px!important;
}

.label, legend {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.a-padding-extra-large {
  padding: 20px 26px!important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  padding-bottom: 4px;
}

.a-column a-span7 a-text-right a-span-last {
  margin-bottom: 22px!important;
}

.a-section {
  margin-bottom: 22px;
}

.a-row .a-span5, .a-ws .a-row .a-ws-span5 {
  width: 40.448%;
}

.a-spacing-top-medium {
  margin-top: 18px!important;
}

.a-text-left {
  text-align: left!important;
}

.a-checkbox-label, .a-radio-label {
  position: relative;
  padding-left: 5px;
  text-indent: 0;
  display: inline-block;
}

.a-box .a-divider.a-divider-break:after, .a-color-base-background .a-divider.a-divider-break:after, .a-divider.a-divider-break:after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}

.a-box .a-divider.a-divider-break, .a-color-base-background .a-divider.a-divider-break, .a-divider.a-divider-break {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
}

.a-box .a-divider.a-divider-break h5, .a-color-base-background .a-divider.a-divider-break h5, .a-divider.a-divider-break h5 {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 8px 0 7px;
}

.a-button-text {
  background-color: transparent;
  border: 0;
  display: block;
  font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  font-size: 13px;
  line-height: 29px;
  margin: 0;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
}

.a-button .a-button-text {
  color: #111;
}

#createAccountSubmit {
  background-color: transparent;
  border: 0;
  display: block;
  font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  font-size: 13px;
  line-height: 29px;
  margin: 0;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
  color: #111;
}

