.a-spacing-top-large {
  margin-top: 22px!important;
}

label, legend {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.a-spacing-large, .a-ws .a-ws-spacing-large {
  margin-bottom: 22px!important;
}
