<%= render partial: 'layouts/header' %>
<div id="pageContent" role="main">
  <div style="width:100%; height: 300px;">
  </div>
  <div>
    <div style="height: 65px;width:310px;float:right;">
      <span style="display: inline-block">
        <a href="#">
          <img alt="Prime Video" src="https://images-fe.ssl-images-amazon.com/images/G/09/Digital_Video/HUD/Evergreen_HUD_310x75_Prime._CB522409459_.png" height="65px" width="310px">
        </a>
      </span>
    </div>
    <!-- ここのdivはamazonのスタイルシートを利用しているので、id, classは編集していない。 -->
    <div style="padding-right:0%;float:none;">
      <link rel="stylesheet" href="https://images-fe.ssl-images-amazon.com/images/I/31KwFzGtjEL._RC|31-pgAasizL.css,01bOpj2iWBL.css_.css?AUIClients/AmazonFamilyGatewayHudMetaAsset">
      <div class="a-section a-spacing-none gw-hud-t2">
        <div id="hud-dashboard" class="a-section celwidget">
          <h2 class="aok-offscreen">
          </h2>
          <div id="hud-ajax">
            <div id="hud-customer-image" class="a-section a-spacing-none copilot-secure-display item-container hud-elements celwidget">
              <a class="a-link-normal" href="#">
                <div class="a-section a-spacing-none">
                  <div class="profile-image">
                  </div>
                </div>
              </a>
            </div>
            <div id="hud-customer-name" class="a-section a-spacing-none item-container customer-name-container hud-elements celwidget">
              <div class="a-section a-spacing-none customer-name">
                <a href="#">こんにちは, アベ さん</a>
              </div>
            </div>
            <div class="a-section a-spacing-none hud-separator">
            </div>
            <div tabindex="0" id="Orders" class="hud-carousel-element hud-elements celwidget hud-no-paginate hud-no-paginate-first">
              <a class="a-link-normal" href="#">
                <div class="a-section label">
                  お客様のご注文
                </div>
                <div class="a-section value">
                  1件の最近の注文
                </div>
                <div class="a-section subtext">
                  詳細を表示
                </div>
              </a>
            </div>
            <div tabindex="0" id="PrimePhotos" class="hud-carousel-element hud-elements celwidget hud-no-paginate">
              <span class="a-declarative" data-action="a-modal" data-a-modal="{&quot;width&quot;:&quot;800&quot;,&quot;name&quot;:&quot;PrimePhotos&quot;,&quot;url&quot;:&quot;/gp/hud/ajax/image-cta.html?ie=UTF8&amp;builderID=PrimeCloudDriveUpsellBuilder&amp;clientID=Gateway&amp;divId=PrimePhotos&amp;elementID=PrimePhotos&amp;mp=HUD%3AGateway_t2%3Amodal&amp;relatedRequestID=1871NBCRZH1FNY8FR54Z&amp;rtp=pd_hud_Gateway_t2&amp;ru=%2Fgp%2Fgw%2Fajax%2Fs.html&amp;sessionId=356-7919300-6682042&quot;,&quot;height&quot;:&quot;544&quot;,&quot;cache&quot;:&quot;false&quot;,&quot;header&quot;:&quot;プライム会員の特典&quot;}">
                <a href="#" class="a-popover-trigger a-declarative">
                  <div class="a-section label">
                    プライム会員の特典
                  </div>
                  <div class="a-section value">
                    <span class="modal-link">
                      無制限のフォトストレージ
                    </span>
                  </div>
                  <div class="a-section subtext">
                    詳細を表示
                  </div>
                  <i class="a-icon a-icon-popover"></i>
                </a>
              </span>
            </div>
            <div tabindex="0" id="AudibleTrialUpsell" class="hud-carousel-element hud-elements celwidget hud-no-paginate">
              <span class="a-declarative" data-action="a-modal" data-a-modal="{&quot;name&quot;:&quot;AudibleTrialUpsell&quot;,&quot;url&quot;:&quot;/gp/hud/ajax/audible-free-trial2.html?ie=UTF8&amp;builderID=AudibleUpsellBuilder&amp;clientID=Gateway&amp;divId=AudibleTrialUpsell&amp;elementID=AudibleTrialUpsell&amp;mp=HUD%3AGateway_t2%3Amodal&amp;relatedRequestID=1871NBCRZH1FNY8FR54Z&amp;rtp=pd_hud_Gateway_t2&amp;ru=%2Fgp%2Fgw%2Fajax%2Fs.html&amp;sessionId=356-7919300-6682042&quot;,&quot;cache&quot;:&quot;false&quot;,&quot;header&quot;:&quot;Audible：無料体験で聴こう&quot;}">
                <a href="#" class="a-popover-trigger a-declarative">
                  <div class="a-section label">
                    Audible：無料体験で聴こう
                  </div>
                  <div class="a-section value">
                    <span class="modal-link">
                      ビジネス書・小説も聴き放題
                    </span>
                  </div>
                  <div class="a-section subtext">
                    今すぐチェック
                  </div>
                  <i class="a-icon a-icon-popover">
                  </i>
                </a>
              </span>
            </div>
            <div style="clear: both">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 0 10px;">
    <div>
      <div>
        <h2>
          <span>
            プライム会員は、お得な会員特典がたくさん
          </span>
        </h2>
        <span>
          <a href="#">
            詳細を見る
          </a>
        </span>
      </div>
      <div>
        <div>
          <ul role="list" style="left: 0px;">
            <li aria-posinset="1" aria-hidden="false" role="listitem" aria-setsize="8" style="display: inline-block;">
              <span>
                <a href="#">
                  <img alt="お急ぎ便・日時指定が無料 | Amazon.co.jp" src="https://images-fe.ssl-images-amazon.com/images/G/09/2017/prime/gw/desktop/1080441_gw_deskshoveler_200x200_prime_dex._CB494717407_.png" height="200px" width="200px" data-a-hires="https://images-fe.ssl-images-amazon.com/images/G/09/2017/prime/gw/desktop/1080441_gw_deskshoveler_400x400_prime_dex._CB494718212_.png">
                </a>
              </span>
            </li>
            <li aria-posinset="2" aria-hidden="false" role="listitem" aria-setsize="8" style="display: inline-block;">
              <span>
                <a href="#">
                  <img alt="映画もTV番組も見放題" src="https://images-fe.ssl-images-amazon.com/images/G/09/2017/prime/gw/desktop/1080441_gw_deskshoveler_200x200_video._CB494717407_.png" height="200px" width="200px" data-a-hires="https://images-fe.ssl-images-amazon.com/images/G/09/2017/prime/gw/desktop/1080441_gw_deskshoveler_400x400_video._CB494718212_.png">
                </a>
              </span>
            </li>
            <li aria-posinset="3" aria-hidden="false" role="listitem" aria-setsize="8" style="display: inline-block;">
              <span>
                <a href="#">
                  <img alt="100万曲以上が聴き放題" src="https://images-fe.ssl-images-amazon.com/images/G/09/2017/prime/gw/desktop/1080441_gw_deskshoveler_200x200_music._CB494717405_.png" height="200px" width="200px" data-a-hires="https://images-fe.ssl-images-amazon.com/images/G/09/2017/prime/gw/desktop/1080441_gw_deskshoveler_400x400_music._CB494718218_.png">
                </a>
              </span>
          </ul>
          <div aria-hidden="true" style="display: none;">
            <img width="100" height="100" src="https://images-fe.ssl-images-amazon.com/images/G/09/amazonui/loading/loading-4x._CB398267895_.gif" role="presentation">
          </div>
        </div>
        <a tabindex="-1" href="#" aria-hidden="true" style="display: inline;">
          <span>
          </span>
        </a>
        <a tabindex="-1" href="#" aria-hidden="true" style="display: inline;">
          <span>
          </span>
        </a>
        <span>
          <span>
            <span style="width: 222.282px; left: 0px; display: none;">
            </span>
          </span>
        </span>
      </div>
    </div>
    <div>
      <div>
        <h2>
          <span>
            お客様におすすめのニューリリース
          </span>
        </h2>
      </div>
      <div>
        <ul role="list" style="left: 0px;">
          <li data-sgproduct="{&quot;asin&quot;:&quot;B077N2KL6H&quot;}" aria-posinset="1" aria-hidden="false" role="listitem" aria-setsize="18" style="display: inline-block;">
            <span>
              <a href="#">
                <img alt="アフタヌーン 2018年1月号 [2017年11月25日発売] [雑誌]" src="https://images-fe.ssl-images-amazon.com/images/I/617bX2-ahxL._AC_SY200_.jpg" height="200px" title="アフタヌーン 2018年1月号 [2017年11月25日発売] [雑誌]" data-a-hires="https://images-fe.ssl-images-amazon.com/images/I/617bX2-ahxL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0773C59LH&quot;}" aria-posinset="2" aria-hidden="false" role="listitem" aria-setsize="18" style="display: inline-block;">
            <span>
              <a href="#">
                <img alt="good！アフタヌーン  2017年12号 [2017年11月7日発売] [雑誌]" src="https://images-fe.ssl-images-amazon.com/images/I/61PsodldE9L._AC_SY200_.jpg" height="200px" data-a-hires="https://images-fe.ssl-images-amazon.com/images/I/61PsodldE9L._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B077P5RR3N&quot;}" aria-posinset="3" aria-hidden="false" role="listitem" aria-setsize="18" style="display: inline-block;">
            <span>
              <a href="#">
                <img alt="月刊！スピリッツ 2018年1月号（2017年11月27日発売） [雑誌]" src="https://images-fe.ssl-images-amazon.com/images/I/61eswY8hhzL._AC_SY200_.jpg" height="200px" title="月刊！スピリッツ 2018年1月号（2017年11月27日発売） [雑誌]" data-a-hires="https://images-fe.ssl-images-amazon.com/images/I/61eswY8hhzL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
        </ul>
        <div aria-hidden="true" style="display: none;">
          <img width="100" height="100" src="https://images-fe.ssl-images-amazon.com/images/G/09/amazonui/loading/loading-4x._CB398267895_.gif" role="presentation">
        </div>
      </div>
    </div>
    <div>
      <div style="width: 50%; float: left; padding: 0 10px;">
        <a href="#">
          <img alt="CyberMonday2017 12月8日18時ビッグセール開始" src="https://images-fe.ssl-images-amazon.com/images/G/09/2017/x-site/cyber_monday/traffic/leak/09_desktop_billboard_440x200._CB492893808_.png" width="100%">
        </a>
      </div>
      <div style="width: 50%; float: left; padding: 0 5px;">
        <a href="#">
          <img alt="Amazon Mastercard" src="https://images-fe.ssl-images-amazon.com/images/G/09/credit/img17/CBCC/gateway/JPcbccclassicb-billboard1X._CB514912827_.jpg" width="100%">
        </a>
      </div>
    </div>
    <hr style="margin: 0 auto; height: 1px; background-color: #eee; color: #eee; border: none;">
    <div>
      <a href="#">
        <img alt="Amazonランキング大賞2017" src="https://images-fe.ssl-images-amazon.com/images/G/09/2017/x-site/amazon_ranking_awards/gw/1081367_x_site_amazon_ranking_awards_desktop_editorial_1150x323._CB493630131_.jpg" height="100%" width="100%">
      </a>
    </div>
  </div>
  <div>
    <span>この商品を買った人はこんな商品も買っています</span>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
