<%= render partial: 'layouts/header' %>
<div id="reviewSection5" class="a-section a-spacing-none desktop overflow" style="">
  <div class="a-section a-spacing-none a-padding-none reviewCandidate content">
    <div class="a-fixed-left-grid a-spacing-top-none">
      <div class="a-fixed-left-grid-inner" style="padding-left:180px">
        <div class="a-text-left a-spacing-none a-fixed-left-grid-col a-col-left" style="width:180px;margin-left:-180px;float:left;">
          <div class="a-section a-spacing-none a-spacing-top-none a-padding-none">
            <img width="140" height="140" border="0" title="プラス ボックスファイル A4 デジャヴ FL-027BF-3P 87-692 ウォームトーン3色組" alt="プラス ボックスファイル A4 デジャヴ FL-027BF-3P 87-692 ウォームトーン3色組" src="https://images-fe.ssl-images-amazon.com/images/I/41fnvwOvcNL._SS300_.jpg">
          </div>
        </div>
        <div class="a-text-left a-spacing-none a-spacing-top-mini a-fixed-left-grid-col a-col-right" style="padding-left:0%;float:left;">
          <div class="a-section a-spacing-none a-spacing-top-extra-large a-text-center fr">
<span class="a-button a-spacing-top-base a-button-small a-button-width-normal notInterested hidden">
<span class="a-button-inner">
<input class="a-button-input" type="submit">
<span class="a-button-text" aria-hidden="true">                        &nbsp;&nbsp;Remove from list&nbsp;&nbsp;                    </span>
</span>
</span>
            <div class="a-section a-spacing-top-micro remindMeLaterSection">
              <span class="a-size-mini a-color-secondary clickable remindMeLater hidden">                            Remind me later                        </span>
            </div>
          </div>
          <div class="a-section a-spacing-none a-spacing-top-large reviewHeader relative">
            <div class="a-section a-spacing-none a-spacing-top-none a-padding-none">
              <a class="a-size-base a-link-normal title" target="_blank" href="https://www.amazon.co.jp/dp/B002JCDSS8/ref=cm_cr_ryp_prd_ttl_sol_5">                            プラス ボックスファイル A4 デジャヴ FL-027BF-3P 87-692...</a>
              <div style="clear:both;">
              </div>
              <span class="a-size-base a-color-secondary creator">                            PLUS(プラス)                        </span>
            </div>
            <div class="a-section a-spacing-base a-spacing-top-mini disableSelect fl">
              <div class="a-section starsContainer fl">
                <div class="a-section a-spacing-none starSprite bigStar clickable rating_1 fl yellowStar" tabindex="0" role="button" aria-label="星1つを与える商品を選択します。">
                </div>
                <div class="a-section a-spacing-none starSprite bigStar clickable rating_2 fl yellowStar" tabindex="0" role="button" aria-label="星2つを与える商品を選択します。">
                </div>
                <div class="a-section a-spacing-none starSprite bigStar clickable rating_3 fl yellowStar" tabindex="0" role="button" aria-label="星3つを与える商品を選択します。">
                </div>
                <div class="a-section a-spacing-none starSprite bigStar clickable rating_4 fl" tabindex="0" role="button" aria-label="星4つを与える商品を選択します。">
                </div>
                <div class="a-section a-spacing-none starSprite bigStar clickable rating_5 fl" tabindex="0" role="button" aria-label="星5つを与える商品を選択します。">
                </div>
              </div>
            </div>
            <div class="a-section a-spacing-base a-spacing-top-small a-padding-none a-text-left outerStarAlert fl starCommentSpacing hidden">
              <div class="a-box a-alert-inline a-alert-inline-error starAlert a-spacing-none a-spacing-top-mini" aria-live="assertive" role="alert">
                <div class="a-box-inner a-alert-container">
                  <i class="a-icon a-icon-alert">
                  </i>
                  <div class="a-alert-content">
                    <span class="a-size-base starAlertText">星による評価が必要です。</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="a-section a-spacing-base a-spacing-top-large starCommentSection fl starCommentSpacing">
<span class="a-size-base a-color-base starComment a-text-bold">
</span>
            </div>
            <div class="a-section a-spacing-base a-spacing-top-large ratingsConfirmation fl" style="display: block;">
              <div class="postedPublicly fl" style="margin-top:0px;" role="alert" aria-live="off" aria-hidden="false">
                <div class="a-box a-alert-inline a-alert-inline-success a-spacing-none">
                  <div class="a-box-inner a-alert-container">
                    <i class="a-icon a-icon-alert">
                    </i>
                    <div class="a-alert-content">                                公開される投稿者名：                                <span class="a-size-base a-color-link authorName" tabindex="-1">teslur</span>
                    </div>
                  </div>
                </div>
                <span class="a-size-base a-color-secondary">                               &nbsp;|&nbsp;&nbsp;                            </span>
              </div>
              <span class="a-size-base a-color-link clearRating clickable" tabindex="-1">                            クリア                        </span>
            </div>
            <div class="collapsibleContent fr" style="position:absolute;bottom:0;right:0">
              <div class="a-section a-spacing-none a-spacing-top-none inlineBlock"> 	<span class="a-button a-button-normal a-spacing-mini a-button-small product-link-trigger productLinkMarginLeft inlineBlock a-declarative">
<span class="a-button-inner">
<input data-hook="product-links-button" class="a-button-input" type="submit" value="submit">
<span class="a-button-text a-text-center" aria-hidden="true">		<span>  			製品リンクを挿入		</span>	</span>
</span>
</span>&nbsp;&nbsp;&nbsp;&nbsp;	<span class="a-declarative" data-action="a-modal" data-a-modal="{&quot;width&quot;:&quot;600&quot;,&quot;name&quot;:&quot;what-is-this&quot;,&quot;header&quot;:&quot;詳細&quot;}">	    <a href="javascript:void(0)" class="a-popover-trigger a-declarative">			詳細	    <i class="a-icon a-icon-popover">
</i>
</a>
                <!-- for popover_trigger -->	</span>
                <!-- for declarative_action -->		<div class="a-popover-preload" id="a-popover-what-is-this">	    <h1 class="a-size-base a-color-state a-text-bold">	        製品リンクとは何ですか？	    </h1>	    	    <br> 	    <p>	        レビューのテキストでは、Amazon.comで提供されているすべての製品に直接リンクを貼ることができます。製品リンクを挿入するには、以下の手順を実行してください：	        <br>
                <br>	        1. Amazon.comで参照する製品を検索します	        <br>
                <br>	        2. 製品のウェブアドレスをコピーします	        <br>
                <br>	        3. クリック 	        <span class="a-text-bold">	            製品リンクを挿入	        </span>	        <br>
                <br>	        4. ボックスにウェブアドレスを貼り付けます	        <br>
                <br>	        5. クリック 	        <span class="a-text-bold">	            選択	        </span>	        <br>
                <br>	        6. 項目を表示することを選択すると、次のようにテキストが挿入されます：	        [[ASIN:B00X4WHP5E Amazon Echo]]	        <br>
                <br>	        7.レビューがAmazon.comに表示されると、このテキストはハイパーリンクに変換されます	    </p>	    <br>	    	    <p>	        レビューでは製品リンクは10個に制限されています。また、リンクテキストは256文字以下にしてください。	    </p>	</div>	</div>
            </div>
            <div style="clear:both;">
            </div>
          </div>
          <div style="clear:both;">
          </div>
          <div aria-live="polite" class="a-row a-expander-container a-expander-extend-container">
            <div class="a-section a-spacing-none a-padding-none draftControl overflow hidden">
              <div class="a-section a-spacing-none a-padding-none toggle section fl">
                <a href="javascript:void(0)" data-action="a-expander-toggle" class="a-expander-header a-declarative a-expander-extend-header draftShowHide hidden a-size-base" data-a-expander-toggle="{&quot;allowLinkDefault&quot;:true, &quot;expand_prompt&quot;:&quot;未完成のレビューを表示する&quot;, &quot;collapse_prompt&quot;:&quot;未完成のレビューを非表示にする&quot;}">
                  <i class="a-icon a-icon-extender-expand">
                  </i>
                  <span class="a-expander-prompt">未完成のレビューを表示する</span>
                </a>
                <a href="javascript:void(0)" data-action="a-expander-toggle" class="a-expander-header a-declarative a-expander-extend-header writeReview hidden a-size-base" data-a-expander-toggle="{&quot;allowLinkDefault&quot;:true, &quot;expand_prompt&quot;:&quot;レビューを書く&quot;, &quot;collapse_prompt&quot;:&quot;レビューを書く&quot;}">
                  <i class="a-icon a-icon-extender-expand">
                  </i>
                  <span class="a-expander-prompt">レビューを書く</span>
                </a>
              </div>
              <div class="a-section draftLastSaveDelete fr">
<span class="a-color-secondary draftLastSave a-size-base">
</span>
                <span class="a-color-secondary draftPipe hidden a-size-base"> &nbsp;|&nbsp; </span>
                <span class="a-color-link draftDelete clickable a-size-base">削除</span>
              </div>
            </div>
            <div aria-expanded="false" class="a-expander-content collapsibleContent overflow a-expander-extend-content" style="overflow: hidden;">
              <div class="tipsSlider">
              </div>
              <div class="a-section a-spacing-none a-spacing-top-mini reviewInputFields overflow">
                <span data-hook="review-headline-placeholder-text" class="a-size-base a-color-secondary fieldLabel titleLabel absolute hidden a-padding-small" style="display:inherit">                            レビューの見出し（必須） ※ページの右上に記載されている「公開名」で投稿されます。                        </span>
                <input type="text" maxlength="128" class="a-input-text titleField reviewTitle fillWidth" aria-label="                            レビューの見出し（必須） ※ページの右上に記載されている「公開名」で投稿されます。                        " role="textbox">
              </div>
              <div class="a-section a-spacing-none a-padding-none a-text-left outerTitleAlert hidden">
                <div class="a-box a-alert-inline a-alert-inline-error titleAlert" aria-live="assertive" role="alert">
                  <div class="a-box-inner a-alert-container">
                    <i class="a-icon a-icon-alert">
                    </i>
                    <div class="a-alert-content">
                      <span class="titleAlertText">見出しが必要です。</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="a-section a-spacing-mini a-spacing-top-base reviewInputFields overflow">
                <label for="review-body-text-area-5" data-hook="review-body-placeholder-text" class="a-form-label fieldLabel textLabel absolute hidden expandingTextSectionHeight a-padding-small a-color-secondary a-text-normal" style="display:inherit">                            ここに商品のレビューを記入（必須）<br>
                  <br>
                  <br>出品者についての評価は記入しないでください。                        </label>
                <div data-hook="review-body-textbox" class="a-input-text-wrapper bigTextArea textField reviewText expandingTextSectionHeight" title="ここにレビューを記入してください">
<textarea id="review-body-text-area-5" style="height: 318px; margin-top: 0px; margin-bottom: 0px;">
</textarea>
                </div>
              </div>
              <div class="a-section a-spacing-small a-spacing-top-none minLenReviewNotificationHidden hidden">
                <div class="a-section a-spacing-small a-spacing-top-none reviewLengthInfo overflow fl">
                  <span class="a-size-base a-color-secondary minLenReviewError" role="log" aria-live="polite" aria-hidden="false">見出し &amp; 30文字以上のテキストを入力する必要があります。（必須）</span>
                </div>
                <div class="a-box a-alert-inline a-alert-inline-error reviewLengthError hidden" aria-live="assertive" role="alert">
                  <div class="a-box-inner a-alert-container">
                    <i class="a-icon a-icon-alert">
                    </i>
                    <div class="a-alert-content">
                      <span class="minLenReviewError" role="log" aria-live="polite" aria-hidden="false">見出し &amp; 30文字以上のテキストを入力する必要があります。（必須）</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="a-fixed-right-grid">
                <div class="a-fixed-right-grid-inner" style="padding-right:360px">
                  <div class="a-text-left a-spacing-none a-fixed-right-grid-col a-col-left" style="padding-right:0%;float:left;">
                    <div class="a-section a-spacing-mini a-padding-none imagePreview">
                    </div>
                    <div class="a-section a-spacing-mini a-padding-none maxImageCountWarningSection aok-hidden">
                      <div class="a-box a-alert-inline a-alert-inline-error maxImageCountWarningAlert" aria-live="assertive" role="alert">
                        <div class="a-box-inner a-alert-container">
                          <i class="a-icon a-icon-alert">
                          </i>
                          <div class="a-alert-content">
                            <span class="a-size-base maxImageCountWarningText">                                        レビュー1件につき画像を20個までアップロードすることができます。                                    </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="a-section a-spacing-mini a-padding-none oneVideoPerReviewErrorSection aok-hidden">
                      <div class="a-box a-alert-inline a-alert-inline-error oneVideoPerReviewAlert" aria-live="assertive" role="alert">
                        <div class="a-box-inner a-alert-container">
                          <i class="a-icon a-icon-alert">
                          </i>
                          <div class="a-alert-content">
                            <span class="a-size-base oneVideoPerReviewText">                                        レビュー1件につき動画は1本しかアップロードすることができません。                                    </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="a-section a-spacing-mini a-padding-none maxImageSizeErrorSection aok-hidden">
                      <div class="a-box a-alert-inline a-alert-inline-error maxFileSizeErrorAlert" aria-live="assertive" role="alert">
                        <div class="a-box-inner a-alert-container">
                          <i class="a-icon a-icon-alert">
                          </i>
                          <div class="a-alert-content">
<span class="a-size-base maxImageSizeText">                                        以下のファイルは100 MBの画像サイズ制限を超過しています：<span class="imagesOverLimit">
</span>
</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="a-section a-spacing-mini a-padding-none maxVideoSizeErrorSection aok-hidden">
                      <div class="a-box a-alert-inline a-alert-inline-error maxFileSizeErrorAlert" aria-live="assertive" role="alert">
                        <div class="a-box-inner a-alert-container">
                          <i class="a-icon a-icon-alert">
                          </i>
                          <div class="a-alert-content">
<span class="a-size-base maxVideoSizeText">                                        以下のファイルは1.5 GBのビデオサイズ制限を超過しています：<span class="videoOverLimit">
</span>
</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="a-section a-spacing-mini a-padding-none unsupportedFileTypeErrorSection aok-hidden">
                      <div class="a-box a-alert-inline a-alert-inline-error unsupportedFileTypeErrorAlert" aria-live="assertive" role="alert">
                        <div class="a-box-inner a-alert-container">
                          <i class="a-icon a-icon-alert">
                          </i>
                          <div class="a-alert-content">
                            <span class="a-size-base unsupportedFileTypeText">                                        サポートされていないファイルタイプです。                                    </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="a-section a-spacing-none a-spacing-top-small a-padding-none">
                      <div aria-live="polite" class="a-row a-expander-container a-spacing-none a-spacing-top-mini a-expander-extend-container learnMoreButton">
                        <a href="javascript:void(0)" data-action="a-expander-toggle" class="a-expander-header a-declarative a-expander-extend-header a-size-base fl" data-a-expander-toggle="{&quot;allowLinkDefault&quot;:true, &quot;expand_prompt&quot;:&quot;ヒントおよびガイドラインを表示する&quot;, &quot;collapse_prompt&quot;:&quot;ヒントおよびガイドラインを表示する&quot;}">
                          <i class="a-icon a-icon-extender-expand">
                          </i>
                          <span class="a-expander-prompt">ヒントおよびガイドラインを表示する                                      </span>
                        </a>
                        <div class="a-section a-spacing-small a-spacing-top-none minLenReviewNotification">
                          <div class="a-section a-spacing-small a-spacing-top-none fl">
                            <span class="a-size-base a-color-secondary">                                                  &nbsp;&nbsp;|&nbsp;                                              </span>
                          </div>
                          <div class="a-section a-spacing-small a-spacing-top-none reviewLengthInfo overflow fl">
                            <span class="a-size-base a-color-secondary minLenReviewError" role="log" aria-live="polite" aria-hidden="false">見出し &amp; 30文字以上のテキストを入力する必要があります。（必須）</span>
                          </div>
                          <div class="a-box a-alert-inline a-alert-inline-error reviewLengthError hidden" aria-live="assertive" role="alert">
                            <div class="a-box-inner a-alert-container">
                              <i class="a-icon a-icon-alert">
                              </i>
                              <div class="a-alert-content">
                                <span class="minLenReviewError" role="log" aria-live="polite" aria-hidden="false">見出し &amp; 30文字以上のテキストを入力する必要があります。（必須）</span>
                              </div>
                            </div>
                          </div>
                          <div class="a-section a-spacing-small a-spacing-top-none reviewSaveInfo fl">
                            <span class="a-size-base a-color-secondary pipe1 hidden"> &nbsp;|&nbsp; </span>
                            <span class="a-size-base a-color-secondary autosaveStatus">
</span>
                          </div>
                        </div>
                        <div class="a-section a-spacing-none a-spacing-top-none a-padding-none warning hidden fl">
                          <span class="a-size-base a-color-secondary">                                              &nbsp;&nbsp;|&nbsp;                                          </span>
                          <div class="a-box a-alert-inline a-alert-inline-error" aria-live="assertive" role="alert">
                            <div class="a-box-inner a-alert-container">
                              <i class="a-icon a-icon-alert">
                              </i>
                              <div class="a-alert-content">
<span class="warning_text">
</span>
                              </div>
                            </div>
                          </div>
                        </div>&nbsp;                                      <div aria-expanded="false" class="a-expander-content fl a-expander-extend-content" style="display:none">
                        <div class="a-section a-spacing-none a-spacing-top-base a-padding-none">
<span class="a-size-base a-color-secondary">                                                  Amazon でレビューを書くには、20歳以上である必要があります。                                                  お客様のレビューには「Amazon.co.jp で購入済み」 のマークが付けられます。                                                                                                     <br>
<br>                                                  以下は優れたレビューを書くためのヒントです:                                                  <dl class="a-definition-list a-vertical a-color-secondary">
<li> この商品が気に入った<span class="bold italic">理由</span>または気に入らなかった<span class="bold italic">理由</span>を<span class="bold">説明してください</span>。 </li>
<li>
<span class="bold italic">類似製品</span>と<span class="bold">比較して</span>、この製品をどのくらいの期間使用されたかをお知らせください。 </li>
<li> 商品の具体的な<span class="bold italic">特徴</span>（例えば、シャツの着心地やフィット感、またはカメラの電池寿命など）を<span class="bold">挙げて</span>、それらがお客様の期待通りであったかどうかをお知らせください。 </li>
<li> 出品者または発送についての評価は<span class="bold">記入しないでください</span>（それらについての評価は <a class="noTextDecoration blue" href="/feedback/ref=cm_cr_ryp_cust_feedback" target="_blank">amazon.co.jp/feedback</a> で書いていただくことができます）。 </li>
<li> あらゆる種類の販促目的の内容や、報酬を前提とした評価コメントは<span class="bold">書かないでください</span>。 </li>
</dl>                                                  Amazon でのレビューの書き方に関するガイドライン全文は、<a class="noTextDecoration blue" href="/gp/community-help/customer-reviews-guidelines/ref=cm_cr_ryp_rvw_guidelines" target="_blank">こちら</a>をご参照ください。                                              </span>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="a-text-left a-spacing-none a-fixed-right-grid-col a-col-right" style="width:360px;margin-right:-360px;float:left;">
                    <div class="a-section a-spacing-none a-padding-none buttonSection fr">
                      <a class="a-text-beside-button a-align-center a-link-normal previewLink fl" href="javascript:void(0)" role="button">                                      プレビュー                                  </a>
                      <span class="a-button a-button-normal a-spacing-mini cameraButton fl">
<span class="a-button-inner">
<input class="a-button-input" type="submit" value="submit">
<span class="a-button-text a-text-center" aria-hidden="true">
<div class="cameraIcon fl" style="margin-top:5px;margin-right:4px;">
</div>
<span class="add-photos-or-video">                                                  写真/動画を追加                                              </span>
</span>
</span>
<input class="filePicker imageKitFileFilePicker" type="file" accept="image/*, video/*" style="display:none" multiple="">
</span>
                      <span class="a-button a-button-normal a-spacing-none a-button-primary submitButton">
<span class="a-button-inner">
<input class="a-button-input" type="submit" value="submit">
<span class="a-button-text a-text-center" aria-hidden="true">
<span class="submitText"> 送信                                      </span>
</span>
</span>
</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="a-spacing-none a-spacing-top-none a-divider-text divider">
</div>
<%= render partial: 'layouts/footer' %>
