<div class="navLeftFooter nav-sprite-v1" id="navFooter">
      <a href="#nav-top" id="navBackToTop">
        <div class="navFooterBackToTop">
          <span class="navFooterBackToTopText">トップへ戻る</span>
        </div>
      </a>
      <table class="navFooterVerticalColumn" cellspaceing="0" align="center" role="presentation">
        <tbody>
          <tr>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">Bamazonについて</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">採用情報</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonについて</a>
                </li>
                <li>
                  <a href="/" class="nav_a">プレリリース</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonと地球</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonのコミュニティ活動</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon Story</a>
                </li>
                <li>
                  <a href="/" class="nav_a">BamazonGlobal</a>
                </li>
              </ul>
            </td>
            <td class="navFooterColSpacerInner"></td>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">Bamazonでビジネス</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">Bamazonで売る</a>
                </li>
                <li>
                  <a href="/" class="nav_a">フルフィルメント by Bamazon</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon Businessで法人販売</a>
                </li>
                <li>
                  <a href="/" class="nav_a">アソシエイト（アフィリエイト）</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonで広告掲載をする</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonで出版</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonの仕入先になる</a>
                </li>
                <li class="nav_last nav_a_carat">
                  <span class="nav_a_carat"></span>
                  <a href="/" class="nav_a">すべてのサービスを見る</a>
                </li>
              </ul>
            </td>
            <td class="navFooterColSpacerInner"></td>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">Bamazonでのお支払い</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">Bamazonポイント</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonギフト券</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon Mastercard</a>
                </li>
                <li>
                  <a href="/" class="nav_a">クレジットカード＆保険</a>
                </li>
                <li>
                  <a href="/" class="nav_a">パートナーポイントプログラム</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonギフト券チャージタイプ</a>
                </li>
                <li class="nav_last nav_a_carat">
                  <span class="nav_a_carat"></span>
                  <a href="/" class="nav_a">すべての支払い方法を見る</a>
                </li>
              </ul>
            </td>
            <td class="navFooterColSpacerInner"></td>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">ヘルプ＆ガイド</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">配送料と配送情報</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon プライム</a>
                </li>
                <li>
                  <a href="/" class="nav_a">商品の返品・交換</a>
                </li>
                <li>
                  <a href="/" class="nav_a">コンテンツと端末の管理</a>
                </li>
                <li>
                  <a href="/" class="nav_a">ストア・特集一覧</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonアシスタント</a>
                </li>
                <li class="nav_last">
                  <a href="/" class="nav_a">ヘルプ</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="nav-footer-line"></div>
      <div class="navFooterLine navFooterLinkLine navFooterPadItemLine">
        <span>
          <div class="navFooterLine navFooterLogoLine">
            <a href="/">
              <div class="nav-logo-base nav-sprite"></div>
            </a>
          </div>
        </span>
        <ul class="__web-inspector-hide-shortcut__"></ul>
        <span class="icp-container-desktop">
          <div class="navFooterLine">
            <style type="text/css">
              #icp-touch-link-language { display: none; }
            </style>
            <a href="/" class="icp-button a-declarative" id="icp-touch-link-language">
              <div class="icp-nav-globe-img-2 icp-button-globe-2"></div>
              <span class="icp-color-base">日本語</span>
              <span class="nav-arrow icp-up-down-arrow"></span>
            </a>
            <style type="text/css">
              #icp-touch-link-country { display: none; }
            </style>
            <a href="/" class="icp-button a-declarative" id="icp-touch-link-country">
              <span class="icp-flag-3 icp-flag-3-jp"></span>
              <span class="icp-color-base">日本</span>
            </a>
          </div>
        </span>
        <ul class="__web-inspector-hide-shortcut__"></ul>
      </div>
      <div class="navFooterLine navFooterLinkLine navFooterDescLine" role="navigation" aria-label="More on Bamazon.com">
        <table class="navFooterMoreOnAmazon" cellspacing="0">
          <tbody>
            <tr>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  Audible（オーディブル)
                  <br>
                  <span class="navFooterDescText">
                    本は「朗読」で聴こう
                    <br>
                     1ヶ月間無料体験も
                  </span>
                </a>
              </td>
              <td class="navFooterDescSpacer" style="width: 1%"></td>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  アマゾン ウェブ サービス（AWS)
                  <br>
                  <span class="navFooterDescText">
                    クラウドコンピューティング
                    <br>
                     サービス
                  </span>
                </a>
              </td>
              <td class="navFooterDescSpacer" style="width: 1%"></td>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  Prime Now
                  <br>
                  <span class="navFooterDescText">
                    好きな時間が選べる。
                    <br>
                     1時間で届く
                  </span>
                </a>
              </td>
              <td class="navFooterDescSpacer" style="width: 1%"></td>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  Shopbop
                  <br>
                  <span class="navFooterDescText">
                    世界中の厳選された
                    <br>
                     ファッションアイテム
                  </span>
                </a>
              </td>
          </tbody>
        </table>
      </div>
      <div class="navFooterLine navFooterLinkLine navFooterPadItemLine navFooterCopyright navFooterLineDivider">
        <ul>
          <li class="nav_first">
            <a href="/" class="nav_a">利用規約</a>
          </li>
          <li>
            <a href="/" class="nav_a">プライバシー規約</a>
          </li>
          <li class="nav_last">
            <a href="/" class="nav_a">パーソナライズド広告規約</a>
          </li>
        </ul>
        <span>© 2017-2017, Bamazon.com, Inc. or its affiliates</span>
        <ul></ul>
      </div>
    </div>
