<div id="rhf" class="copilot-secure-display" style="clear:both" role="complementary" aria-label="最近閲覧した商品とおすすめ商品">
    <div class="rhf-frame" style="display: block;"><br>
      <div id="rhf-container">
        <div class="rhf-border">
          <div class="rhf-header">おすすめ、買うべき商品！！！</div>
          <div class="rhf-sub-heading"></div>
          <div id="rhf-shoveler">
            <div id="my-feature"></div>
            <div id="reccommend" class="a-begin a-carousel-container a-carousel-display-swap a-carousel-transition-swap  p13n-sc-carousel a-carousel-initialized">
              <div class="a-row a-carousel-header-row a-size-large">
                <div class="a-column a-span8">
                  <h2 class="a-carousel-heading">
                    <span class="rhf-source-title">閲覧履歴に基づくおすすめ</span>
                  </h2>
                </div>
                <div class="a-column a-span4 a-span-last a-text-right">
                  <span class="a-carousel-pagination a-size-base" style="visibility: visible;">
                    <span class="a-carousel-page-count">ページ:
                      <span class="a-carousel-page-current">1</span> /
                      <span class="a-carousel-page-max">8</span>
                    </span>
                    <span class="a-carousel-restart-container" style="display: none;">
                      <span class="a-text-separator"></span>
                      <a class="a-carousel-restart" href="#">最初に戻る</a>
                    </span>
                    <span class="a-carousel-accessibility-page-info a-offscreen" aria-live="polite">ページ: 1 / 8</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="rhf-divider">
          </div>
        </div>
      </div>
    </div>
  </div>
