<!DOCTYPE html>
<html>
  <head>
    <title>Bamazon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav-locale-jp nav-lang-ja nav-ssl nav-rec nav-opt-sprite">
      <div id="navbar" role="navigation" class="nav-sprite-v1 nav-bluebeacon nav-subnav">
        <div id="nav-belt">
          <div class="nav-left">
            <div id="nav-logo">
              <a href="/ref=nav_logo" class="nav-logo-link" tabindex="2">
                <span class="nav-logo-base nav-sprite">Bamazon</span>
                <span class="nav-logo-ext nav-sprite"></span>
                <span class="nav-logo-locale nav-sprite"></span>
              </a>
              <a href="/ref=nav_logo_prime" aria-label="" tabindex="3" class="nav-logo-tagline nav-sprite nav-prime-try">
              プライムを始める
              </a>
            </div>
          </div>
          <div class="nav-right">
            <div id= "nav-swmslot">
              <div id="ape_Gateway_nav-sitewide-msg_Desktop_placement" class="copilot-secure-display celwidget">
              </div>
            </div>
          </div>
          <div class="nav-fill">
            <div id="nav-search">
              <div id="nav-bar-left">
              <%#= form_tag ('/#/', method: :get, class: "nav-searchbar") do %>
                <input type="hidden" name= "__mk_ja_JP" value="カタカナ">
                <div class="nav-left">
                  <div class="nav-search-scope nav-sprite">
                    <div class="nav-search-facade" data-value="search-alias=aps">
                      <span class="nav-search-label">すべて</span>
                      <i class="nav-icon"></i>
                    </div>
                  </div>
                </div>
                <div class="nav-right">
                  <div class="nav-search-submit nav-sprite">
                    <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite">検索</span>
                    <input type="submit" class="nav-input" value="検索" tabindex="7"></input>
                  </div>
                </div>
                <div class="nav-fill">
                  <div class="nav-search-field">
                    <label id="nav-search-label" for="twotabsearchtextbox" class="aok-offscreen">検索</label>
                    <input type="text" id="twotabsearchtextbox" value name="field-keywords" autocomplete="off" class="nav-input" dir="auto" tabindex="6">
                  </div>
                  <div id="nav-iss-attach">
                  </div>
                </div>
              <%# end %>
              </div>
            </div>
          </div>
          <div id="nav-flyout-anchor">
            <div id="nav-flyout-prime" class="nav-coreFlyout nav-flyout" style="width: 310px;">
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-template nav-flyout-content">
                <div id="nav-student-target-wrapper" class="a-row student-nav-wrapper"></div>
              </div>
            </div>
            <div id="nav-flyout-primeTooltip" class="nav-flyout" style="display: none; position: absolute; top: -32px; left: 192.988px;">
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-arrow-inner" id="nav-prime-tooltip">
                <div class="nav-npt-text-title"> Amazonプライム会員ならお急ぎ便、日時指定便が使い放題 </div>
                <div class="nav-npt-text-detail"> さらに、映画もTV番組も見放題。100万曲以上が聴き放題。クラウドに好きなだけ写真も保存可能。</div>
                <div class="nav-npt-text-detail"></div>
              </div>
            </div>
            <div id="nav-flyout-wishlist" class="nav-coreFlyout nav-flyout">
              <div class="nav-template nav-tpl-itemList" id="nav-flyout-wl-items" style="display: block;">
                <div class="nav-panel">
                  <a href="/" class="nav-link nav-item">
                    <span class="nav-text">新しいほしい物リスト</span>
                  </a>
                  <a href="/" class="nav-link nav-item">
                    <span class="nav-text">Userさんのほしい物リスト</span>
                  </a>
                </div>
              </div>
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-template nav-flyout-content nav-tpl-itemList">
                <a herf="/" class="nav-link nav-item">
                  <span class="nav-text">ほしい物リストを作成する</span>
                </a>
                <a herf="/" class="nav-link nav-item">
                  <span class="nav-text">ほしい物リストを見つける</span>
                </a>
                <a herf="/" class="nav-link nav-item">
                  <span class="nav-text">何でもほしい物リスト</span>
                  <span class="nav-subtext">ほかのサイトの商品を追加する</span>
                </a>
              </div>
              <div class="nav-subcats">
              </div>
            </div>
            <div id="nav-flyout-shopAll" class="nav-catFlyout nav-flyout">
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-template nav-flyout-content nav-tpl-itemList">
                <!-- たくさんの<span class="nav-hasPanel nav-item"> -->
              </div>
              <div class="nav-subcats">
                <!-- たくさんの<div class="nav-template nav-subcat nav-tpl-itemList nav-colcount-2"> -->
              </div>
            </div>
            <div id="nav-flyout-transientFlyout" class="nav-coreFlyout nav-flyout">
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-template nav-flyout-content nav-spinner"></div>
            </div>
            <div id="nav-flyout-yourAccount" class="nav-coreFlyout nav-flyout">
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-template nav-flyout-content nav-tpl-itemList">
                <!-- たくさんのhref class="nav-link" -->
              </div>
              <div class="nav-subcats">
              </div>
            </div>
            <div id="nav-flyout-icp" class="nav-coreFlyout nav-flyout">
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-template nav-flyout-content nav-spinner"></div>
            </div>
            <div id="nav-flyout-icp-footer-flyout" class="nav-coreFlyout nav-flyout">
              <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
              </div>
              <div class="nav-template nav-flyout-content nav-spinner"></div>
            </div>
          </div>
          <div id="nav-flyout-iss-anchor">
            <div id="nav-flyout-searchAjax" class="nav-issFlyout nav-flyout">
              <div class="nav-template nav-flyout-content"></div>
            </div>
          </div>
        </div>
        <div id="nav-main" class="nav-sprite">
          <div class="nav-left">
            <div id="nav-shop">
              <a href="/" class="nav-a nav-a-2" data-ux-mouseover="true" id="nav-link-shopall" tabindex="10">
                <span class="nav-line-1"></span>
                <span class="nav-line-2">カテゴリー
                  <span class="nav-icon nav-arrow" style="visibility: visible;"></span>
                </span>
              </a>
            </div>
          </div>
          <div class="nav-right">
            <div id="nav-tools">
              <a href="/" id="icp-nav-flyout" class="nav-a nav-a-2 icp-link-style-2">
                <span class="icp-nav-link-inner">
                  <span class="nav-line-1">
                    <span class="icp-nav-globe-img-2"></span>
                    <span class="icp-nav-language">JP</span>
                  </span>
                  <span class="nav-line-2">
                    <span class="nav-icon nav-arrow" style="visibility: visible;"></span>
                  </span>
                </span>
                <span class="icp-nav-link-border"></span>
              </a>
              <a href="/" class="nav-a nav-a-2 nav-truncate" data-nav-ref="nav_ya_signin" data-nav-role="signin" data-ux-mouseover="true" id="nav-link-yourAccount" tabindex="26">
                <span class="nav-line-1"> Userさん </span>
                <span class="nav-line-2">アカウントサービス
                  <span class="nav-icon nav-arrow" style="visibility: visible;"></span>
                </span>
              </a>
              <a href="/" class="nav-hidden-aria" tabindex="27">Userさんではありませんか？サインアウト</a>
              <a href="/" class="nav-a nav-a-2" data-ux-mouseover="true" id="nav-link-prime" tabindex="28">
                <span class="nav-line-1">今すぐ確認</span>
                <span class="nav-line-2">プライム
                  <span class="nav-icon nav-arrow" style="visibility: visible;"></span>
                </span>
              </a>
              <a href="/" class="nav-a nav-a-2" data-ux-mouseover="true" id="nav-link-wishlist" tabindex="29">
                <span class="nav-line-1">ほしい物</span>
                <span class="nav-line-2">リスト
                  <span class="nav-icon nav-arrow" style="visibility: visible;"></span>
                </span>
              </a>
              <a href="/" aria-label="カート内の商品数：0" class="nav-a nav-a-2" id="nav-cart" tabindex="30">
                <span aria-hidden="true" class="nav-line-1"> </span>
                <span aria-hidden="true" class="nav-line-2">カート
                  <span class="nav-icon nav-arrow"></span>
                </span>
                <span class="nav-cart-icon nav-sprite"></span>
                <span id="nav-cart-count" aria-hidden="true" class="nav-cart-count nav-cart-0">0</span>
              </a>
            </div>
          </div>
          <div class="nav-fill">
            <div id="nav-xshop-container">
              <div id="nav-xshop">
                <div id="nav-xshop">
                  <a href="/" class="nav-a" tabindex="18">マイストア</a>
                  <a href="/" class="nav-a" tabindex="19">タイムセール</a>
                  <a href="/" class="nav-a" tabindex="20">ギフト券</a>
                  <a href="/" class="nav-a" tabindex="21">Amazonで売る</a>
                  <a href="/" class="nav-a" tabindex="22">ヘルプ</a>
                </div>
              </div>
              <div id="nav-supra" class="nav-supra-points">
                <a href="/" class="nav-a" tabindex="NaN">Bamazonポイント</a>
                <span class="nav-span">: </span>
                <b class="nav-b">2000000</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>




    <%= yield %>




    <div class="navLeftFooter nav-sprite-v1" id="navFooter">
      <a href="#nav-top" id="navBackToTop">
        <div class="navFooterBackToTop">
          <span class="navFooterBackToTopText">トップへ戻る</span>
        </div>
      </a>
      <table class="navFooterVerticalColumn" cellspaceing="0" align="center" role="presentation">
        <tbody>
          <tr>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">Bamazonについて</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">採用情報</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonについて</a>
                </li>
                <li>
                  <a href="/" class="nav_a">プレリリース</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonと地球</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonのコミュニティ活動</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon Story</a>
                </li>
                <li>
                  <a href="/" class="nav_a">BamazonGlobal</a>
                </li>
              </ul>
            </td>
            <td class="navFooterColSpacerInner"></td>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">Bamazonでビジネス</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">Bamazonで売る</a>
                </li>
                <li>
                  <a href="/" class="nav_a">フルフィルメント by Bamazon</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon Businessで法人販売</a>
                </li>
                <li>
                  <a href="/" class="nav_a">アソシエイト（アフィリエイト）</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonで広告掲載をする</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonで出版</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonの仕入先になる</a>
                </li>
                <li class="nav_last nav_a_carat">
                  <span class="nav_a_carat"></span>
                  <a href="/" class="nav_a">すべてのサービスを見る</a>
                </li>
              </ul>
            </td>
            <td class="navFooterColSpacerInner"></td>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">Bamazonでのお支払い</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">Bamazonポイント</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonギフト券</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon Mastercard</a>
                </li>
                <li>
                  <a href="/" class="nav_a">クレジットカード＆保険</a>
                </li>
                <li>
                  <a href="/" class="nav_a">パートナーポイントプログラム</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonギフト券チャージタイプ</a>
                </li>
                <li class="nav_last nav_a_carat">
                  <span class="nav_a_carat"></span>
                  <a href="/" class="nav_a">すべての支払い方法を見る</a>
                </li>
              </ul>
            </td>
            <td class="navFooterColSpacerInner"></td>
            <td class="navFooterLinkCol">
              <div class="navFooterColHead">ヘルプ＆ガイド</div>
              <ul>
                <li class="nav_first">
                  <a href="/" class="nav_a">配送料と配送情報</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazon プライム</a>
                </li>
                <li>
                  <a href="/" class="nav_a">商品の返品・交換</a>
                </li>
                <li>
                  <a href="/" class="nav_a">コンテンツと端末の管理</a>
                </li>
                <li>
                  <a href="/" class="nav_a">ストア・特集一覧</a>
                </li>
                <li>
                  <a href="/" class="nav_a">Bamazonアシスタント</a>
                </li>
                <li class="nav_last">
                  <a href="/" class="nav_a">ヘルプ</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="nav-footer-line"></div>
      <div class="navFooterLine navFooterLinkLine navFooterPadItemLine">
        <span>
          <div class="navFooterLine navFooterLogoLine">
            <a href="/">
              <div class="nav-logo-base nav-sprite"></div>
            </a>
          </div>
        </span>
        <ul class="__web-inspector-hide-shortcut__"></ul>
        <span class="icp-container-desktop">
          <div class="navFooterLine">
            <style type="text/css">
              #icp-touch-link-language { display: none; }
            </style>
            <a href="/" class="icp-button a-declarative" id="icp-touch-link-language">
              <div class="icp-nav-globe-img-2 icp-button-globe-2"></div>
              <span class="icp-color-base">日本語</span>
              <span class="nav-arrow icp-up-down-arrow"></span>
            </a>
            <style type="text/css">
              #icp-touch-link-country { display: none; }
            </style>
            <a href="/" class="icp-button a-declarative" id="icp-touch-link-country">
              <span class="icp-flag-3 icp-flag-3-jp"></span>
              <span class="icp-color-base">日本</span>
            </a>
          </div>
        </span>
        <ul class="__web-inspector-hide-shortcut__"></ul>
      </div>
      <div class="navFooterLine navFooterLinkLine navFooterDescLine" role="navigation" aria-label="More on Bamazon.com">
        <table class="navFooterMoreOnAmazon" cellspacing="0">
          <tbody>
            <tr>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  Audible（オーディブル)
                  <br>
                  <span class="navFooterDescText">
                    本は「朗読」で聴こう
                    <br>
                     1ヶ月間無料体験も
                  </span>
                </a>
              </td>
              <td class="navFooterDescSpacer" style="width: 1%"></td>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  アマゾン ウェブ サービス（AWS)
                  <br>
                  <span class="navFooterDescText">
                    クラウドコンピューティング
                    <br>
                     サービス
                  </span>
                </a>
              </td>
              <td class="navFooterDescSpacer" style="width: 1%"></td>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  Prime Now
                  <br>
                  <span class="navFooterDescText">
                    好きな時間が選べる。
                    <br>
                     1時間で届く
                  </span>
                </a>
              </td>
              <td class="navFooterDescSpacer" style="width: 1%"></td>
              <td class="navFooterDescItem">
                <a href="/" class="nav_a">
                  Shopbop
                  <br>
                  <span class="navFooterDescText">
                    世界中の厳選された
                    <br>
                     ファッションアイテム
                  </span>
                </a>
              </td>
          </tbody>
        </table>
      </div>
      <div class="navFooterLine navFooterLinkLine navFooterPadItemLine navFooterCopyright navFooterLineDivider">
        <ul>
          <li class="nav_first">
            <a href="/" class="nav_a">利用規約</a>
          </li>
          <li>
            <a href="/" class="nav_a">プライバシー規約</a>
          </li>
          <li class="nav_last">
            <a href="/" class="nav_a">パーソナライズド広告規約</a>
          </li>
        </ul>
        <span>© 2017-2017, Bamazon.com, Inc. or its affiliates</span>
        <ul></ul>
      </div>
    </div>
  </body>
</html>
